.bloqs-suggested-field{
    $backgorundMainColor:#fcfcfc;
    $backgorundHoverColor:#f1f1f1;
    
    @extend .handcursor;
    
    border: 2px dashed #dadada;
    margin-top: 10px;
    background-color: $backgorundMainColor;
    width: 237px;
    .suggestedfield-text{
        @extend .common-text;
        text-align: center;
        position: relative;
        margin: 8px;
        &:before{
            content: " ";
            width: 13px;
            height: 13px;
            position: absolute;
            margin-top: 2px;
            left: 11px;
            background-color: $textsSecondaryColor;
            -webkit-mask-image: url($bulb);
            mask-image: url($bulb);
        }
    }
    &:hover{
        background-color: $backgorundHoverColor;
        .suggestedfield-text{
            color: $textsThirdColor;
            &:before{
                background-color: $textsThirdColor;
            }
        }
    }
}


.suggestion{
    display: none;
    height: 100%;

    &:before{
        content: "";
        width: 13px;
        height: 13px;
        position: absolute;
        margin-top: 3px;
        left: 69px;
        background-color: #FFF;
        -webkit-mask-image: url($bulb);
        mask-image: url($bulb);
    }
}

.suggestion-on:hover{
        .suggestion{
            display: block;
            &:hover{
                &:before{
                    background-color: white;
                }
            }
        }
    
}