.bloq {
    /*---- CODE ------*/
    
    &.bloq-code, &.bloq-comment {
        color: #58B42D;
    }
    /*---- COMMUNICATION ------*/
    
    &.bloq-convert,
    &.bloq-serial-receiver,
    &.bloq-serial-send {
        color: #E30B9A;
    }
    /*---- COMPONENTS ------*/
    
    &.bloq-buzzer-advance,
    &.bloq-continuous-servo-start-advanced,
    &.bloq-continuous-servo-stop-advanced,
    &.bloq-lcd-turn-on-on-advanced,
    &.bloq-lcd-writte-advanced,
    &.bloq-led-advanced,
    &.bloq-oscillator-advanced,
    &.bloq-oscillator-start-advanced,
    &.bloq-oscillator-stop-advanced,
    &.bloq-pin-read-advanced,
    &.bloq-pin-writte-advanced,
    &.bloq-read-advanced,
    &.bloq-servo-advanced,
    &.bloq-turn-on-off-advanced,
    &.bloq-buzzer,
    &.bloq-continuous-servo-start,
    &.bloq-continuous-servo-stop,
    &.bloq-lcd-turn-on-off,
    &.bloq-lcd-writte,
    &.bloq-led,
    &.bloq-oscillator,
    &.bloq-oscillator-start,
    &.bloq-oscillator-stop,
    &.bloq-read-dropdown,
    &.bloq-servo {
        color: #DD5A0A;
    }
    /*---- CONTROL ------*/
    
    &.bloq-break,
    &.bloq-case,
    &.bloq-case-default,
    &.bloq-continue,
    &.bloq-else,
    &.bloq-else-if,
    &.bloq-for,
    &.bloq-if,
    &.bloq-switch,
    &.bloq-wait,
    &.bloq-while {
        color: #11489A;
    }
    /*---- FUNCTIONS ------*/
    
    &.bloq-argument,
    &.bloq-arguments,
    &.bloq-invoke-function,
    &.bloq-invoke-return-function,
    &.bloq-return,
    &.bloq-return-function,
    &.bloq-return-function-with-arguments,
    &.bloq-void-function,
    &.bloq-void-function-with-arguments {
        color: #DD5A0A;
    }
    /*---- LOGIC ------*/
    
    &.bloq-boolean,
    &.bloq-equality-operations,
    &.bloq-logic-operations,
    &.bloq-not {
        color: #7C0DD6;
    }
    /*---- MAIN-BLOQS ------*/
    
    &.bloq-loop,
    &.bloq-setup,
    &.bloq-vars {}
    /*---- MATHS ------*/
    
    &.bloq-basic-operations,
    &.bloq-map,
    &.bloq-map-advanced,
    &.bloq-math-operations,
    &.bloq-number,
    &.bloq-random {
        color: #01C0C8;
    }
    /*---- TEXT ------*/
    
    &.bloq-length,
    &.bloq-string,
    &.bloq-string-create {
        color: #0294CF;
    }
    /*---- VARIABLES ------*/
    
    &.bloq-hw-variable-advanced,
    &.bloq-sw-variable-advanced,
    &.bloq-array-variable,
    &.bloq-declare-variable,
    &.bloq-select-variable,
    &.bloq-set-variable {
        color: #D9B032;
    }
}