.suggestion-window {
    position: absolute;
    background-color: #FFF;
    top: 0;
    left: 0;
    z-index: 10;
    .header {
        background-color: #CCC;
        width: 100%;
        position: relative;
        overflow: hidden;
        p {}
    }
    .bloq-container {
        position: relative;
        overflow: hidden;
        .bloq {
            position: relative;
        }
    }
    &.hide {
        display: none;
    }
}