/* Styles for bloqs demo
 *
 * Author: Tom Calvo
 */
/* === resets === */
/* === defaults === */
* {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
	
}
/* === generic styles */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input, select {
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
    border-radius: .4em;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #555;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
}
input[type=text] {
width: 5.5em;
}

input[type=number] {
	max-width: 75px;

}

input:focus, select:focus {
	outline: none;
}
select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(img/downarrow.svg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: right 7px bottom 40%;
    background-size: .8em;
    overflow: hidden;
}


.bloq {}

.bloq--math__connector {}
/* === layout === */
/* === modules === */
/* === specific styles */

.bloqs--main {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.bloqs--container {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* === subsections === */
/* === hacks / overrides === */
