/*PIN ANALOGICO:*/

.cls-3 {
    fill: #e2e2e2;
}
.cls-4 {
    font-size: 16px;
}
.cls-5 {
    fill: #790cd7;
    font-size: 16px;
    font-family: "PTSans-Bold";
    font-weight: bold;
    ---
}
.cls-7 {
    fill: #ffffff;
    /*filter: url(#inner-shadow-1);*/

fill-opacity: 0.4;
}
.cls-9 {
    fill:"#979797";
    font-size: 16px;
    font-family: "PTSans-Bold";
    font-weight: bold;
}
.cls-10 {
    fill="#848484";
}
/*    <filter id="inner-shadow-1" filterUnits="userSpaceOnUse">
      <feOffset in="SourceAlpha" dx="0" dy="1"/>
      <feGaussianBlur result="innerShadowBlur" stdDeviation="0"/>
      <feFlood flood-color="#000000" flood-opacity="0.15"/>
      <feComposite operator="out" in2="innerShadowBlur"/>
      <feComposite operator="in" in2="SourceAlpha"/>
      <feBlend mode="normal" in2="SourceGraphic" result="innerShadow"/>
    </filter>*/

.3xxx-cls-3 {
    fill: #e2e2e2;
}
.3xxx-cls-5 {
    fill: #ffffff;
    filter: url(#inner-shadow-1);
    fill-opacity: 0.4;
}
.3xxx-cls-6 {
    font-size: 20px;
}
.3xxx-cls-7 {
    fill: #9d9d9d;
    font-size: 20px;
    font-family: "PTSans-Bold";
    font-weight: bold;
}
.3xxx-cls-11 {
    fill: #979797;
    font-size: 20px;
    font-family: "PTSans-Bold";
    font-weight: bold;
}
.3xxx-cls-18 {
    fill: #00c1c7;
    font-family: "PTSans-Bold";
    font-size: 16px;
    font-weight: bold;
}
.3xxx-cls-19 {
    fill: #00c1c7;
    font-family: "PTSans-Bold";
    font-size: 20px;
    font-weight: bold;
}
.3xxx-cls-20 {
    font-size: 16px;
}
.3xxx-cls-21 {
    fill: #00c1c7;
    font-size: 16px;
    font-family: "PTSans-Bold";
    font-weight: bold;
}
/*    <filter id="inner-shadow-1" filterUnits="userSpaceOnUse">
      <feOffset in="SourceAlpha" dx="0" dy="1"/>
      <feGaussianBlur result="innerShadowBlur" stdDeviation="0"/>
      <feFlood flood-color="#000000" flood-opacity="0.15"/>
      <feComposite operator="out" in2="innerShadowBlur"/>
      <feComposite operator="in" in2="SourceAlpha"/>
      <feBlend mode="normal" in2="SourceGraphic" result="innerShadow"/>
    </filter>*/
